.contenedorGrid_padre-index {
    min-height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "header header header header header header"
        "sliders sliders sliders sliders sliders sliders"
        "scroll_img scroll_img scroll_img scroll_img scroll_img scroll_img"
        "productos productos productos productos productos productos"
        "articulos articulos articulos articulos articulos articulos"
        "contenidoP contenidoP contenidoP contenidoP contenidoP contenidoP"
        "piePagina piePagina piePagina piePagina piePagina piePagina";
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-thumb {
    background: #490549;
    border-radius: 5px;
}

.sliders {
    height: 83vh;
    grid-area: sliders;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.margenesImg_scroll {
    grid-area: scroll_img;

    padding: 48px 80px 80px 80px;
    min-width: 100vw;

    background-image: url("../src/multimedia/img/indexFondocategorias.png");
    background-size: cover;
    background-position: center;
}

.img_principales {


    display: grid;
    gap: 1em;
    grid-auto-flow: column;
    overflow-x: auto;

    padding: 48px 0px 16px 0px;
    overflow-y: hidden;

    a {
        display: flex;
        justify-content: space-around;
        align-items: center;

        height: 6em;
        width: 16em;
        border-radius: 25px;

        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(0.7rem);
        box-shadow: 0.3em 0.3em 0.5em black;
    }

    p {
        margin: 0;
        color: white;
        font-family: Prata;
        font-size: 26px;
    }

    img {
        max-width: 64px;
        max-height: 120px;

        align-self: flex-end;
        position: relative;
        bottom: 1rem;

        &:hover {
            animation: img-licor 0s ease 0s 1 normal forwards;
            -webkit-animation: img-licor 0s ease 0s 1 normal forwards;
        }

        @keyframes img-licor {
            0% {
                transform: translateY(0px);
            }

            100% {
                transform: translateY(-9px);
            }
        }
    }

    &::-webkit-scrollbar {
        height: 7px;
    }

    &::-webkit-scrollbar-thumb {
        background: #cfcecf;
        border-radius: 5px;
    }
}



.productos {
    grid-area: productos;
}

.VinosMas_vendidos {
    background-color: #F4F3ED;

    padding: 25px;
    display: flex;

    .titleImg {
        border: 0.5px solid black;
        background-color: #FFFFFF;
        margin-right: 1em;
        width: 340px;
        position: relative;
        box-shadow: 0.3em 0.3em 0.5em black;

        h1 {
            font-family: prata;
            line-height: 1em;
            font-size: 30px;
            padding: 10px 10px 0px 10px;

            & span {
                color: $colorTitle;
            }
        }

        p {
            text-align: justify;
            padding: 1em;
        }

        .imgBase {
            
            position: absolute;
            bottom: 0%;

            img {
                width: 100%;
            }
        }
    }
}







.margenesImgArticulos_index {
    grid-area: articulos;

    padding: 72px 96px 32px 96px;
    background-image: url("../src/multimedia/img/indexFondocategorias.png");
    background-size: cover;
    background-position: center;

    .cardInfo {

        display: grid;
        gap: 2.5em;
        grid-auto-flow: column;
        overflow-x: auto;
        padding: 0px 0px 20px 0px;

        .articulo {
            width: 380px;
            border-radius: 25px;
            background-color: #1A1A1A;
            -webkit-border-radius: 25px;
            -moz-border-radius: 25px;
            -ms-border-radius: 25px;
            -o-border-radius: 25px;

            .card-img-top {
                height: 200px;
                object-fit: cover;
                border-radius: 25px 25px 0px 0px;
                -webkit-border-radius: 25px 25px 0px 0px;
                -moz-border-radius: 25px 25px 0px 0px;
                -ms-border-radius: 25px 25px 0px 0px;
                -o-border-radius: 25px 25px 0px 0px;
            }

            .card-body {
                height: 108px;
            }

            .card-title {
                margin: 0;
                font-size: 17px;
                color: #fff;
            }

            .card-text {
                color: $colorTitle;
            }
        }

        &::-webkit-scrollbar {
            height: 7px;
        }

        &::-webkit-scrollbar-thumb {
            background: #cfcecf;
            border-radius: 5px;
        }
    }

}

.contenidoProximo {
    grid-area: contenidoP;

    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to top, #080700, #0e0905, #100c0c, #110f10, #121212);
    backdrop-filter: blur(0.7rem);
    box-shadow: 0.3em 0.3em 0.5em rgba(159, 5, 5, 0.637);

    & span {
        color: $colorTitle;
    }

    //.marcasFav{
    //}
}

/*cards vinos index*/
.elementos2 {
    position: relative;
    top: 1.2em;
}

.tarjetasVinos {
    width: 249px;
}

.tarjetasVinos img {
    width: 249px;
    height: 249px;
}

.cb2 {
    padding: 0;
    height: 187.59px;
}

.tarjetasVinos h5 {
    font-size: 16px;
    color: black;
}

.elementos2 label {
    margin: 5px 0px 0px 0px;
}

.swiper-wrapper .elementos2 p {
    font-size: 14px;
    text-align: left;
    margin: 15px 0px 5px 0px;
    color: rgb(112, 112, 112);
}

.swiper-wrapper .tarjetasVinos a {
    background-color: #810100;
    color: whitesmoke;
}

@media only screen and (max-width: 1378px) {

    .VinosMas_vendidos {

        .titleImg {
            flex-direction: row !important;

            .imgBase{
                img{
                    overflow: visible;
                }
            }
        }
    }
@media only screen and (max-width: 640px) {

.margenesImgArticulos_index{
   padding: 72px 25px 32px 25px;
   }
} 

}
