.piePagina {
    grid-area: piePagina;
    background-image: url("../src/multimedia/img/Fondo.png");

    p {
        margin: 0;
        color: whitesmoke;
        padding: 50px 55px 50px 55px;
    }

}