.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
    margin-right: 20px;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #d3531a;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* State when the navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* when navigation is clicked */
.navbar-toggler .top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}

/* Color of 3 lines */
.navbar-toggler.collapsed .toggler-icon {
    background: linear-gradient( 263deg, rgba(252,74,74,1) 0%, rgba(0,212,255,1) 100% );
}

/* -------------------------------------------------------------------------- */

header{
    grid-area: header;
}

.navbar-expand-lg {

    height: 130px;
    background-color: blue;

    .container-fluid {
        background-color: #080700;
        z-index: 3;

        .logo {

            img {
                height: 145px;
                width: 200px;
            }
        }

        .navbar-collapse {

            padding-bottom: 10px;
            text-align: center;
            z-index: 1px;

            .nav-item {

                a {
                    color: whitesmoke;
                    margin-right: 35px;
                    font-size: 19px;

                    &:hover {
                        color: yellowgreen;
                    }
                }
            }

            .formBusq {
                position: relative;

                .form-control {
                    font-size: 17px;
                    font-family: 'Roboto', sans-serif;
                    padding: 10px 38px 10px 15px;
                    height: 35px;
                    border-radius: 0.73rem;
                    -webkit-border-radius: 0.73rem;
                    -moz-border-radius: 0.73rem;
                    -ms-border-radius: 0.73rem;
                    -o-border-radius: 0.73rem;
                }

                .Btn_buscar {
                    position: absolute;
                    bottom: 0%;
                    right: 0%;
                    margin-right: 8px;
                    height: 35px;

                    .bi-search {
                        position: relative;
                        bottom: 3px;
                        width: 16px;
                        height: 16px;
                    }
                }
            }

            .carIcon {

                margin-right: 10px;
                margin-left: 40px;

                .bi-cart4 {
                    width: 35px;
                    height: 35px;
                    color: whitesmoke;
                }
            }

            .userIcon {

                .bi-person-fill {
                    width: 35px;
                    height: 35px;
                    color: whitesmoke;
                }
            }


        }
    }





    //@media only screen and (max-width: 991px){



    //}

}