header {
    grid-area: header;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-image: url(../src/multimedia/img/Fondo.png);
    height: 130px;

    .logo img {
        height: 145px;
        width: 200px;
        position: relative;
        bottom: 4px;
    }

    .menu {

        li {
            display: inline-block;
        }

        a {
            color: whitesmoke;
            margin-right: 35px;
            font-size: 19px;

            &:hover {
                color: yellowgreen;
            }
        }
    }

    .Form_buscar {
        height: 35px;
        width: 14%;
        display: flex;
        flex-direction: row;
    }

    #Busqueda {
        width: 100%;
        padding: 10px 35px 10px 15px;
        border: none;
        outline: none;
        font-size: 17px;
        font-family: 'Roboto', sans-serif;
        border-radius: 0.75rem;

        &:focus {
            outline: none;
        }
    }

    .Btn_buscar {
        background: transparent;
        border: none;
        outline: none;
        margin-left: -33px;

        img {
            width: 20px;
            height: 20px;
            object-fit: cover;
            cursor: pointer;
        }
    }

    #CarritoCompras {
        position: relative;
        right: 10px;

        img {
            width: 35px;
            height: 35px;
        }
    }

    #CuentaUsuario img {
        width: 28px;
        height: 28px;
        position: relative;
        bottom: 2px;
    }

    .menu-bar {
        font-size: 30px;
        color: #fff;
        line-height: 80px;
        cursor: pointer;
    }
}